{
  "openapi": "3.0.1",
  "info": {
    "title": "Foundation API",
    "description": "DigitalDots Platform Foundation API."
  },
  "servers": [
    {
      "url": "https://foundation.indus.digitaldots.io",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/api/v1/users/{id}": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "Find User by id",
        "description": "Find User by id",
        "operationId": "get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "users"
        ],
        "summary": "Update User",
        "description": "Update User",
        "operationId": "updateUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUser"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "users"
        ],
        "summary": "Delete User by ID",
        "description": "Delete User by ID",
        "operationId": "delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/users/{id}/verify": {
      "put": {
        "tags": [
          "users"
        ],
        "summary": "Verify the USER",
        "description": "Verify the USER",
        "operationId": "verifyUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/{id}/disable": {
      "put": {
        "tags": [
          "users"
        ],
        "summary": "Disable User",
        "description": "Disable User",
        "operationId": "disable",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/users/{id}/deactivate": {
      "put": {
        "tags": [
          "users"
        ],
        "summary": "Deactivate User",
        "description": "Deactivate User",
        "operationId": "deactivate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/users/{id}/avatar": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "Get user avatar",
        "description": "Get user Avatar",
        "operationId": "getUserAvatar",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "byte"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "users"
        ],
        "summary": "Upload user avatar",
        "description": "Upload user Avatar",
        "operationId": "uploadAvatar",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "image"
                ],
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/users/{id}/activate": {
      "put": {
        "tags": [
          "users"
        ],
        "summary": "Activate User",
        "description": "Activate User",
        "operationId": "activate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/users/profile": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "Get User Profile",
        "description": "get User Profile",
        "operationId": "getMyProfile",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "users"
        ],
        "summary": "Update User Profile",
        "description": "Update User Profile",
        "operationId": "updateUserProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserProfile"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/solutions/{solutionId}/import": {
      "put": {
        "tags": [
          "solutions"
        ],
        "summary": "Update Solution from Import Zip",
        "description": "Update Solution and its entities from Import Zip",
        "operationId": "importSolutionUpdate",
        "parameters": [
          {
            "name": "solutionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SolutionImportDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Solution"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/solutions/{id}": {
      "get": {
        "tags": [
          "solutions"
        ],
        "summary": "Get Solution by Id",
        "description": "Get solution by Id",
        "operationId": "get_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Solution"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "solutions"
        ],
        "summary": "Update Solution",
        "description": "Update solution on the Platform",
        "operationId": "update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SolutionDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Solution"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "solutions"
        ],
        "summary": "Delete Solution",
        "description": "Delete solution from the platform",
        "operationId": "delete_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Solution"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/solutions/{id}/share": {
      "put": {
        "tags": [
          "solutions"
        ],
        "summary": "Share Solution",
        "description": "Share solution to Platform Users",
        "operationId": "share",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShareEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Solution"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/solutions/{id}/deactivate": {
      "put": {
        "tags": [
          "solutions"
        ],
        "summary": "De-activate Solution",
        "description": "De-activate solution on the platform",
        "operationId": "deactivate_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Solution"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/solutions/{id}/activate": {
      "put": {
        "tags": [
          "solupublictions"
        ],
        "summary": "Activate Solution",
        "description": "Activate Solution on the Platform",
        "operationId": "activate_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Solution"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/roles/{id}": {
      "put": {
        "tags": [
          "roles"
        ],
        "summary": "Update Role",
        "description": "Update Role",
        "operationId": "update_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "roles"
        ],
        "summary": "Delete Role",
        "description": "Delete Role",
        "operationId": "delete_3",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/resetpassword": {
      "put": {
        "tags": [
          "users"
        ],
        "summary": "Reset Password",
        "description": "Reset Password",
        "operationId": "resetPassword",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/me/preferences": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "Get  My preferences",
        "description": "Get  my preferences",
        "operationId": "getPreferences",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "users"
        ],
        "summary": "Save preferences",
        "description": "Save preferences",
        "operationId": "savePreferences",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "object"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserPreference"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/groups/{id}": {
      "get": {
        "tags": [
          "groups"
        ],
        "summary": "Find Group by id",
        "description": "Find Group by id",
        "operationId": "get_3",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "groups"
        ],
        "summary": "Update Group",
        "description": "Update Group",
        "operationId": "update_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "groups"
        ],
        "summary": "Delete Group",
        "description": "Delete Group",
        "operationId": "delete_4",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/forgotpassword": {
      "put": {
        "tags": [
          "users"
        ],
        "summary": "Forgot Password",
        "description": "Deactivate User",
        "operationId": "forgotPassword",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/environments/{id}/share": {
      "put": {
        "tags": [
          "environments"
        ],
        "summary": "Share Environment",
        "description": "Share Environment to Platform Users",
        "operationId": "share_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShareEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Environment"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/changepassword": {
      "put": {
        "tags": [
          "users"
        ],
        "summary": "Change Password",
        "description": "Change Password",
        "operationId": "changePassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePassword"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/users": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "Find all users",
        "description": "Find all users",
        "operationId": "findAll",
        "parameters": [
          {
            "name": "predicate",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Predicate"
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          },
          {
            "name": "bid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "users"
        ],
        "summary": "Create User",
        "description": "Create User",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/users/signup": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "Sign up User",
        "description": "Sign up User",
        "operationId": "signupUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/users/register": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "Registration",
        "description": "Registration",
        "operationId": "register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Registration"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/subscriptions": {
      "get": {
        "tags": [
          "subscriptions"
        ],
        "summary": "Lits Notification Subscriptions for the topics",
        "description": "List Notification subscriptions",
        "operationId": "findAll_1",
        "parameters": [
          {
            "name": "predicate",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Predicate"
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Subscription"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "subscriptions"
        ],
        "summary": "Create Notification Subscription",
        "description": "Create Notification subscription",
        "operationId": "create_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/solutions": {
      "get": {
        "tags": [
          "solutions"
        ],
        "summary": "Find All Solutions using query",
        "description": "Name search by %name% format",
        "operationId": "findAll_2",
        "parameters": [
          {
            "name": "predicate",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Predicate"
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Solution"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "solutions"
        ],
        "summary": "Create new Solution",
        "description": "Create new Solution on the Platform",
        "operationId": "create_2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SolutionDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Solution"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/solutions/{solutionId}/exports": {
      "post": {
        "tags": [
          "solutions"
        ],
        "summary": "Export Solution",
        "description": "Export Solution",
        "operationId": "export",
        "parameters": [
          {
            "name": "solutionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SolutionExportEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/solutions/{id}/clone": {
      "post": {
        "tags": [
          "solutions"
        ],
        "summary": "Clone an existing solution",
        "description": "Clone an existing Solution and its related entities",
        "operationId": "clone",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SolutionDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Solution"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/roles": {
      "get": {
        "tags": [
          "roles"
        ],
        "summary": "Find all Roles",
        "description": "Find all Roles",
        "operationId": "findAll_3",
        "parameters": [
          {
            "name": "predicate",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Predicate"
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Role"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "roles"
        ],
        "summary": "Create Role",
        "description": "Create Role",
        "operationId": "create_3",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/resources": {
      "get": {
        "tags": [
          "resources"
        ],
        "summary": "List Resources",
        "description": "Lists Resources from the Platform",
        "operationId": "findAllR",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Resource"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "resources"
        ],
        "summary": "Create Resource",
        "description": "Create Resource",
        "operationId": "create_4",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Resource"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/notifications": {
      "get": {
        "tags": [
          "notifications"
        ],
        "summary": "List Notifications",
        "description": "Lists Notifications from the Platform",
        "operationId": "findAll_4",
        "parameters": [
          {
            "name": "predicate",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Predicate"
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Notification"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "notifications"
        ],
        "summary": "Create Notification",
        "description": "Create Notification for a topic",
        "operationId": "create_5",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Notification"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/imports/{id}/solutions": {
      "post": {
        "tags": [
          "solutions"
        ],
        "summary": "Import Solution from zip file",
        "description": "import Solution and its entities from zip file",
        "operationId": "importSolution",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "solutionId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SolutionImportDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Solution"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/imports/{blueprintId}/blueprints": {
      "post": {
        "tags": [
          "resources"
        ],
        "summary": "Create a new Solution From Blueprint",
        "description": "Create a new solution for the platform",
        "operationId": "createSolutionFromBlueprint",
        "parameters": [
          {
            "name": "blueprintId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlueprintSolutionDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Solution"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/groups": {
      "get": {
        "tags": [
          "groups"
        ],
        "summary": "Find all Groups",
        "description": "Find all Groups",
        "operationId": "findAll_5",
        "parameters": [
          {
            "name": "predicate",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Predicate"
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Group"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "groups"
        ],
        "summary": "Create Group",
        "description": "Create Group",
        "operationId": "create_6",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/environments": {
      "get": {
        "tags": [
          "environments"
        ],
        "summary": "Find Environments",
        "description": "Name search by %name% format",
        "operationId": "findAll_6",
        "parameters": [
          {
            "name": "predicate",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Predicate"
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Environment"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "environments"
        ],
        "summary": "Create Environment",
        "description": "Create a new environment on the platform",
        "operationId": "create_7",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Environment"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/auth/refresh": {
      "post": {
        "tags": [
          "jwt-authentication-controller"
        ],
        "operationId": "refreshtoken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRefreshRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TokenRefreshResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "tags": [
          "jwt-authentication-controller"
        ],
        "operationId": "createAuthenticationToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JwtRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/JwtResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{entity}/{alternateId}/history": {
      "get": {
        "tags": [
          "audit"
        ],
        "summary": "Find audit history of entities",
        "description": "Find audit History of entities",
        "operationId": "getEntitiesHistory",
        "parameters": [
          {
            "name": "entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ENVIRONMENTS",
                "GROUPS",
                "NOTIFICATION",
                "RESOURCE",
                "ROLES",
                "SOLUTIONS",
                "SUBSCRIPTION",
                "TEST",
                "USERS",
                "PASSWORD",
                "FORGOT",
                "AVATAR",
                "PREFERENCES",
                "APPLICATION",
                "CONNECTORS",
                "WORKFLOWS",
                "SECRETS",
                "SCRAPERS",
                "MODELS",
                "FUNCTIONS",
                "FORMS",
                "ENTITY",
                "DECISIONS",
                "DATASTORES",
                "DATASETS",
                "DASHBOARDS",
                "ASSETS",
                "RETRY"
              ]
            }
          },
          {
            "name": "alternateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "predicate",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Predicate"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JaversChangeObject"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/{entity}/{alternateId}/history/{commitid}": {
      "get": {
        "tags": [
          "audit"
        ],
        "summary": "Find audit history by commit id",
        "description": "Find audit history by commit id",
        "operationId": "getHisoryChangesById",
        "parameters": [
          {
            "name": "commitid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JaversChangeObject"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/{entity}/history": {
      "get": {
        "tags": [
          "audit"
        ],
        "summary": "Find Solution history",
        "description": "Find Solution history",
        "operationId": "getSolutionHistory",
        "parameters": [
          {
            "name": "entity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ENVIRONMENTS",
                "GROUPS",
                "NOTIFICATION",
                "RESOURCE",
                "ROLES",
                "SOLUTIONS",
                "SUBSCRIPTION",
                "TEST",
                "USERS",
                "PASSWORD",
                "FORGOT",
                "AVATAR",
                "PREFERENCES",
                "APPLICATION",
                "CONNECTORS",
                "WORKFLOWS",
                "SECRETS",
                "SCRAPERS",
                "MODELS",
                "FUNCTIONS",
                "FORMS",
                "ENTITY",
                "DECISIONS",
                "DATASTORES",
                "DATASETS",
                "DASHBOARDS",
                "ASSETS",
                "RETRY"
              ]
            }
          },
          {
            "name": "predicate",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Predicate"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JaversChangeObject"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/solutions/{solutionId}/exports/{exportId}/presigned-url": {
      "get": {
        "tags": [
          "solutions"
        ],
        "summary": "Get Presigned-url for Exported Solution Solution Id and Export Id in storage bucket",
        "description": "Get Presigned-url for exported solution by Solution Id and Export Id for download",
        "operationId": "getExportPresignedUrl",
        "parameters": [
          {
            "name": "solutionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SolutionExportEntity"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/solutions/exports": {
      "get": {
        "tags": [
          "solutions"
        ],
        "summary": "List all Exported Solutions in storage bucket",
        "description": "List exported solutions and metadata",
        "operationId": "getAllExports",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          },
          {
            "name": "predicate",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Predicate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SolutionExportEntity"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/role/{id}": {
      "get": {
        "tags": [
          "roles"
        ],
        "summary": "Find Role by id",
        "description": "Find Role by id",
        "operationId": "get_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/me/environments": {
      "get": {
        "tags": [
          "environments"
        ],
        "summary": "Find Environments",
        "description": "Name search by %name% format",
        "operationId": "findAllByUsernameAndStatus",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Environment"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/environments/{id}": {
      "get": {
        "tags": [
          "environments"
        ],
        "summary": "Get Environment by Id",
        "description": "Get  using environment Id",
        "operationId": "get_4",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Environment"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "environments"
        ],
        "summary": "Delete Environment",
        "description": "Delete environment from the platform",
        "operationId": "delete_5",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Environment"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/avatar/{id}": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "Get avatar",
        "description": "Get avatar",
        "operationId": "getAvatar",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "byte"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/roles": {
      "get": {
        "tags": [
          "jwt-authentication-controller"
        ],
        "operationId": "getRoles",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GrantedAuthority"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/solutions/{solutionId}/exports/{exportId}": {
      "delete": {
        "tags": [
          "solutions"
        ],
        "summary": "Delete Solution Export",
        "description": "Delete Solution Export",
        "operationId": "delete_1",
        "parameters": [
          {
            "name": "solutionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SolutionExportEntity"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "UpdateUser": {
        "required": [
          "alternateId",
          "name",
          "solutionId"
        ],
        "type": "object",
        "properties": {
          "createdBy": {
            "type": "string"
          },
          "modifiedBy": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedAt": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "alias": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "solutionId": {
            "type": "string"
          },
          "alternateId": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "DRAFT",
              "PENDING",
              "APPROVED",
              "ACTIVE",
              "ARCHIVED",
              "DISABLED",
              "COMPLETED",
              "ERROR",
              "SUCCESS",
              "NEW",
              "MODIFYING",
              "READY",
              "DEACTIVE",
              "WAITING"
            ]
          },
          "errorMessage": {
            "type": "string"
          },
          "entityId": {
            "type": "string",
            "readOnly": true
          },
          "versionHistory": {
            "type": "array",
            "readOnly": true,
            "items": {
              "type": "string",
              "readOnly": true
            }
          },
          "address": {
            "type": "string"
          },
          "avatar": {
            "type": "string"
          },
          "xid": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date-time"
          },
          "firstName": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "phoneNo": {
            "type": "string"
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "skypeId": {
            "type": "string"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "createdBy": {
            "type": "string"
          },
          "modifiedBy": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedAt": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "alias": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "solutionId": {
            "type": "string"
          },
          "alternateId": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "DRAFT",
              "PENDING",
              "APPROVED",
              "ACTIVE",
              "ARCHIVED",
              "DISABLED",
              "COMPLETED",
              "ERROR",
              "SUCCESS",
              "NEW",
              "MODIFYING",
              "READY",
              "DEACTIVE",
              "WAITING"
            ]
          },
          "errorMessage": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          },
          "versionHistory": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "xid": {
            "type": "string"
          },
          "bid": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "username": {
            "pattern": "/^[A-Za-z0-9+_.-]+@(.+)$/",
            "type": "string"
          },
          "userPrincipalName": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "phoneNo": {
            "type": "string"
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "skypeId": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date-time"
          },
          "avatar": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "locked": {
            "type": "boolean"
          },
          "verified": {
            "type": "boolean"
          },
          "firstTimeLogin": {
            "type": "boolean"
          },
          "entityType": {
            "type": "string"
          }
        }
      },
      "UserProfile": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "avatar": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date-time"
          },
          "firstName": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "phoneNo": {
            "type": "string"
          },
          "skypeId": {
            "type": "string"
          }
        }
      },
      "SolutionDeployment": {
        "type": "object",
        "properties": {
          "environment": {
            "type": "string"
          },
          "alias": {
            "type": "string"
          },
          "isCloud": {
            "type": "boolean"
          },
          "mode": {
            "type": "string"
          },
          "storage": {
            "type": "string"
          },
          "targetCloud": {
            "type": "string"
          }
        }
      },
      "SolutionImportDto": {
        "required": [
          "description",
          "name"
        ],
        "type": "object",
        "properties": {
          "createdBy": {
            "type": "string"
          },
          "modifiedBy": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedAt": {
            "type": "string",
            "format": "date-time"
          },
          "alias": {
            "type": "string"
          },
          "config": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          },
          "deleted": {
            "type": "boolean"
          },
          "deployment": {
            "$ref": "#/components/schemas/SolutionDeployment"
          },
          "description": {
            "type": "string"
          },
          "errorMessage": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "DRAFT",
              "PENDING",
              "APPROVED",
              "ACTIVE",
              "ARCHIVED",
              "DISABLED",
              "COMPLETED",
              "ERROR",
              "SUCCESS",
              "NEW",
              "MODIFYING",
              "READY",
              "DEACTIVE",
              "WAITING"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "template": {
            "$ref": "#/components/schemas/SolutionTemplate"
          },
          "type": {
            "type": "string",
            "enum": [
              "INTEGRATION",
              "AIPOWERED",
              "FUSION",
              "FABRIC",
              "ANALYTICS",
              "AUTOMATION"
            ]
          },
          "version": {
            "type": "string"
          },
          "file": {
            "$ref": "#/components/schemas/TemplateFile"
          }
        }
      },
      "SolutionTemplate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "TemplateFile": {
        "type": "object",
        "properties": {
          "file_path": {
            "type": "string"
          },
          "image_path": {
            "type": "string"
          },
          "filename": {
            "type": "string"
          },
          "file_extension": {
            "type": "string"
          },
          "file_size": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "Solution": {
        "type": "object",
        "properties": {
          "createdBy": {
            "type": "string"
          },
          "modifiedBy": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedAt": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "alias": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "solutionId": {
            "type": "string"
          },
          "alternateId": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "DRAFT",
              "PENDING",
              "APPROVED",
              "ACTIVE",
              "ARCHIVED",
              "DISABLED",
              "COMPLETED",
              "ERROR",
              "SUCCESS",
              "NEW",
              "MODIFYING",
              "READY",
              "DEACTIVE",
              "WAITING"
            ]
          },
          "errorMessage": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          },
          "versionHistory": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "template": {
            "$ref": "#/components/schemas/SolutionTemplate"
          },
          "type": {
            "type": "string",
            "enum": [
              "INTEGRATION",
              "AIPOWERED",
              "FUSION",
              "FABRIC",
              "ANALYTICS",
              "AUTOMATION"
            ]
          },
          "config": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          },
          "deployment": {
            "$ref": "#/components/schemas/SolutionDeployment"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserShare"
            }
          },
          "enabled": {
            "type": "boolean"
          },
          "blueprintId": {
            "type": "string"
          },
          "exportId": {
            "type": "string"
          },
          "file": {
            "$ref": "#/components/schemas/TemplateFile"
          },
          "entityType": {
            "type": "string"
          }
        }
      },
      "UserShare": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "role": {
            "type": "string"
          }
        }
      },
      "SolutionDto": {
        "required": [
          "description",
          "name"
        ],
        "type": "object",
        "properties": {
          "createdBy": {
            "type": "string"
          },
          "modifiedBy": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedAt": {
            "type": "string",
            "format": "date-time"
          },
          "alias": {
            "type": "string"
          },
          "config": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          },
          "deleted": {
            "type": "boolean"
          },
          "deployment": {
            "$ref": "#/components/schemas/SolutionDeployment"
          },
          "description": {
            "type": "string"
          },
          "errorMessage": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "DRAFT",
              "PENDING",
              "APPROVED",
              "ACTIVE",
              "ARCHIVED",
              "DISABLED",
              "COMPLETED",
              "ERROR",
              "SUCCESS",
              "NEW",
              "MODIFYING",
              "READY",
              "DEACTIVE",
              "WAITING"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "template": {
            "$ref": "#/components/schemas/SolutionTemplate"
          },
          "type": {
            "type": "string",
            "enum": [
              "INTEGRATION",
              "AIPOWERED",
              "FUSION",
              "FABRIC",
              "ANALYTICS",
              "AUTOMATION"
            ]
          },
          "version": {
            "type": "string"
          }
        }
      },
      "ShareEntity": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "notify": {
            "type": "boolean"
          },
          "users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserShare"
            }
          }
        }
      },
      "Permission": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "resource": {
            "type": "string"
          },
          "action": {
            "type": "string"
          },
          "allowed": {
            "type": "boolean"
          }
        }
      },
      "RoleDto": {
        "required": [
          "alternateId",
          "name",
          "solutionId"
        ],
        "type": "object",
        "properties": {
          "createdBy": {
            "type": "string"
          },
          "modifiedBy": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedAt": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "alias": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "solutionId": {
            "type": "string"
          },
          "alternateId": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "DRAFT",
              "PENDING",
              "APPROVED",
              "ACTIVE",
              "ARCHIVED",
              "DISABLED",
              "COMPLETED",
              "ERROR",
              "SUCCESS",
              "NEW",
              "MODIFYING",
              "READY",
              "DEACTIVE",
              "WAITING"
            ]
          },
          "errorMessage": {
            "type": "string"
          },
          "entityId": {
            "type": "string",
            "readOnly": true
          },
          "versionHistory": {
            "type": "array",
            "readOnly": true,
            "items": {
              "type": "string",
              "readOnly": true
            }
          },
          "permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Permission"
            }
          },
          "systemRole": {
            "type": "boolean"
          }
        }
      },
      "Role": {
        "type": "object",
        "properties": {
          "createdBy": {
            "type": "string"
          },
          "modifiedBy": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedAt": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "alias": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "solutionId": {
            "type": "string"
          },
          "alternateId": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "DRAFT",
              "PENDING",
              "APPROVED",
              "ACTIVE",
              "ARCHIVED",
              "DISABLED",
              "COMPLETED",
              "ERROR",
              "SUCCESS",
              "NEW",
              "MODIFYING",
              "READY",
              "DEACTIVE",
              "WAITING"
            ]
          },
          "errorMessage": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          },
          "versionHistory": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "bid": {
            "type": "string"
          },
          "permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Permission"
            }
          },
          "systemRole": {
            "type": "boolean"
          },
          "active": {
            "type": "boolean"
          },
          "entityType": {
            "type": "string"
          }
        }
      },
      "UserPreference": {
        "type": "object",
        "properties": {
          "createdBy": {
            "type": "string"
          },
          "modifiedBy": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedAt": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "string"
          },
          "userName": {
            "type": "string"
          },
          "preferences": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          }
        }
      },
      "GroupDto": {
        "required": [
          "alternateId",
          "name",
          "solutionId"
        ],
        "type": "object",
        "properties": {
          "createdBy": {
            "type": "string"
          },
          "modifiedBy": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedAt": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "alias": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "solutionId": {
            "type": "string"
          },
          "alternateId": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "DRAFT",
              "PENDING",
              "APPROVED",
              "ACTIVE",
              "ARCHIVED",
              "DISABLED",
              "COMPLETED",
              "ERROR",
              "SUCCESS",
              "NEW",
              "MODIFYING",
              "READY",
              "DEACTIVE",
              "WAITING"
            ]
          },
          "errorMessage": {
            "type": "string"
          },
          "entityId": {
            "type": "string",
            "readOnly": true
          },
          "versionHistory": {
            "type": "array",
            "readOnly": true,
            "items": {
              "type": "string",
              "readOnly": true
            }
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "users": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Group": {
        "type": "object",
        "properties": {
          "createdBy": {
            "type": "string"
          },
          "modifiedBy": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedAt": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "alias": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "solutionId": {
            "type": "string"
          },
          "alternateId": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "DRAFT",
              "PENDING",
              "APPROVED",
              "ACTIVE",
              "ARCHIVED",
              "DISABLED",
              "COMPLETED",
              "ERROR",
              "SUCCESS",
              "NEW",
              "MODIFYING",
              "READY",
              "DEACTIVE",
              "WAITING"
            ]
          },
          "errorMessage": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          },
          "versionHistory": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "users": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "entityType": {
            "type": "string"
          }
        }
      },
      "Environment": {
        "type": "object",
        "properties": {
          "createdBy": {
            "type": "string"
          },
          "modifiedBy": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedAt": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "alias": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "solutionId": {
            "type": "string"
          },
          "alternateId": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "DRAFT",
              "PENDING",
              "APPROVED",
              "ACTIVE",
              "ARCHIVED",
              "DISABLED",
              "COMPLETED",
              "ERROR",
              "SUCCESS",
              "NEW",
              "MODIFYING",
              "READY",
              "DEACTIVE",
              "WAITING"
            ]
          },
          "errorMessage": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          },
          "versionHistory": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "cloudProvider": {
            "type": "string"
          },
          "config": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          },
          "template": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserShare"
            }
          },
          "labels": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "disabled": {
            "type": "boolean"
          },
          "entityType": {
            "type": "string"
          }
        }
      },
      "ChangePassword": {
        "type": "object",
        "properties": {
          "oldPassword": {
            "type": "string"
          },
          "newPassword": {
            "type": "string"
          }
        }
      },
      "UserDto": {
        "required": [
          "alternateId",
          "name",
          "solutionId"
        ],
        "type": "object",
        "properties": {
          "createdBy": {
            "type": "string"
          },
          "modifiedBy": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedAt": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "alias": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "solutionId": {
            "type": "string"
          },
          "alternateId": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "DRAFT",
              "PENDING",
              "APPROVED",
              "ACTIVE",
              "ARCHIVED",
              "DISABLED",
              "COMPLETED",
              "ERROR",
              "SUCCESS",
              "NEW",
              "MODIFYING",
              "READY",
              "DEACTIVE",
              "WAITING"
            ]
          },
          "errorMessage": {
            "type": "string"
          },
          "entityId": {
            "type": "string",
            "readOnly": true
          },
          "versionHistory": {
            "type": "array",
            "readOnly": true,
            "items": {
              "type": "string",
              "readOnly": true
            }
          },
          "xid": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "address": {
            "type": "string"
          },
          "avatar": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date-time"
          },
          "firstName": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "phoneNo": {
            "type": "string"
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "skypeId": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "verified": {
            "type": "boolean"
          },
          "userPrincipalName": {
            "type": "string"
          }
        }
      },
      "Registration": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date-time"
          },
          "firstName": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "phoneNo": {
            "type": "string"
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "skypeId": {
            "type": "string"
          },
          "username": {
            "type": "string"
          }
        }
      },
      "SubscriptionDto": {
        "required": [
          "alternateId",
          "name",
          "solutionId"
        ],
        "type": "object",
        "properties": {
          "createdBy": {
            "type": "string"
          },
          "modifiedBy": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedAt": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "alias": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "solutionId": {
            "type": "string"
          },
          "alternateId": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "DRAFT",
              "PENDING",
              "APPROVED",
              "ACTIVE",
              "ARCHIVED",
              "DISABLED",
              "COMPLETED",
              "ERROR",
              "SUCCESS",
              "NEW",
              "MODIFYING",
              "READY",
              "DEACTIVE",
              "WAITING"
            ]
          },
          "errorMessage": {
            "type": "string"
          },
          "entityId": {
            "type": "string",
            "readOnly": true
          },
          "versionHistory": {
            "type": "array",
            "readOnly": true,
            "items": {
              "type": "string",
              "readOnly": true
            }
          },
          "subscriptionId": {
            "type": "string"
          },
          "topic": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "userMessagingTokens": {
            "type": "string"
          }
        }
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "createdBy": {
            "type": "string"
          },
          "modifiedBy": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedAt": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "alias": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "solutionId": {
            "type": "string"
          },
          "alternateId": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "DRAFT",
              "PENDING",
              "APPROVED",
              "ACTIVE",
              "ARCHIVED",
              "DISABLED",
              "COMPLETED",
              "ERROR",
              "SUCCESS",
              "NEW",
              "MODIFYING",
              "READY",
              "DEACTIVE",
              "WAITING"
            ]
          },
          "errorMessage": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          },
          "versionHistory": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "userMessagingTokens": {
            "type": "string"
          },
          "topic": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "entityType": {
            "type": "string"
          }
        }
      },
      "SolutionExportEntity": {
        "type": "object",
        "properties": {
          "createdBy": {
            "type": "string"
          },
          "modifiedBy": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedAt": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "alias": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "solutionId": {
            "type": "string"
          },
          "alternateId": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "DRAFT",
              "PENDING",
              "APPROVED",
              "ACTIVE",
              "ARCHIVED",
              "DISABLED",
              "COMPLETED",
              "ERROR",
              "SUCCESS",
              "NEW",
              "MODIFYING",
              "READY",
              "DEACTIVE",
              "WAITING"
            ]
          },
          "errorMessage": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          },
          "versionHistory": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "envAlias": {
            "type": "string"
          },
          "redisId": {
            "type": "string"
          },
          "file": {
            "$ref": "#/components/schemas/TemplateFile"
          },
          "type": {
            "type": "string",
            "enum": [
[...]
